<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>handlebars template demo</title>
</head>
<body>
    <h1>
      handlebars
    </h1>
    <h2>
      Hello, {{params.username}}
    </h2>
    <p>
      <div>
        <a href="/demos/kerwin/home">login kerwin.</a>
      </div>
      <div>
        <a href="/demos/pony/home">login pony.</a>
      </div>
      <div>
        <a href="/demos/jim/home">login jim.</a>
      </div>
      <div>
        <a href="/demos/andy/home">login andy.</a>
      </div>
    </p>
    <p>
      myVar is "{{myVar}}"
    </p>
    <p>
      <div>
        you can:
      </div>
      <div>
        <a href="/">to home page</a>
      </div>
      <div>
        <a href="/docs">to docs page</a>
      </div>
      <div>
        <a href="/demos/handlebars">to handlebars demo</a>
      </div>
    </p>
</body>
</html>
