<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>handlebars template demo</title>
</head>
<body>
    <h1>
      handlebars
    </h1>
    <p>
      myVar is "{{myVar}}"
    </p>
    <p>
      <div>
        you can:
      </div>
      <div>
        <a href="/">to home page</a>
      </div>
      <div>
        <a href="/docs">to docs page</a>
      </div>
      <div>
        <a href="/demos/kerwin/home">to req.tiresias.params page</a>
      </div>
    </p>
</body>
</html>
